body{
    background:linear-gradient(to right,
      rgba(53, 251, 4, 0.955)25%,
      rgba(188, 255, 45, 0.976)) 50%,
      rgba(14, 252, 220, 0.9) 75%;
text-align: center;
}
canvas{
    border: 5px  double #000000  ;/* #ffbf00*/ 
}
h1{
    margin-top: 0;
    font-size: 4em;
    font-family: 'Orbitron', 'Sans-serif';
    font-weight: bold;
    letter-spacing: -10px;
}
h1 strong {
   font-size: 1.35em;
   display: inline-block;
   margin: 0 0.25em; 
}

/*
    animation: 3s linear 1s 1 alternate slidein;
}
   @keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}
*/
.slidein{
 animation-name: rotate; 
  animation-duration: 0.7s;}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}