.container{
    max-width: 100%;
    max-height: 100%;
    background:#000000;
text-align: center;
}
canvas{
    border: 5px  double #fcfafa  ;/* #ffbf00*/ 
}

h2{
    color:cyan;
    margin: 10px;
      font-size: 4em;
    font-family: 'Orbitron', 'Sans-serif';
    font-weight: bold;
    letter-spacing: -10px;
}
h1{
    color: cyan;
    margin-top: 10px;
    font-size: 4em;
    font-family: 'Orbitron', 'Sans-serif';
    font-weight: bold;
    letter-spacing: -10px;
}
h1 strong {
   font-size: 1.35em;
   display: inline-block;
   margin: 0 0.25em; 
}

#button{
width: 7rem;
height: 3rem;
background-color: cyan;
color: black;
 font-size: 2rem;
    font-family: 'Orbitron', 'Sans-serif';
    font-weight: bold;
border-color: black;

}
.btn{
  font-size: 2rem;
    font-family: 'Orbitron', 'Sans-serif';
    font-weight: bold;
}
/*
    animation: 3s linear 1s 1 alternate slidein;
}
   @keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}
*/
.slidein{
    margin-top: 1rem;
    margin-left: 44%;
    max-width: 100%;
    max-height: 100%;
 animation-name: rotate; 
  animation-duration: 5s;
  
}

@keyframes rotate {
  50% {
    transform: rotate(180deg);
  }
  200% {
    transform: rotate(360deg);
  }
}